Package: cstbox-ext-modbus
Version: $(version)
Section: base
Priority: optional
Architecture: all
Depends: cstbox-core 
Maintainer: Eric Pascual <eric.pascual@cstb.fr>
Description: CSTBox Modbus devices support
    This package adds the support for Modbus interfaced devices
    to an existing CSTBox framework.
